@import url('https://fonts.googleapis.com/css2?family=Anton&display=swp');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --color-barra-lateral:#fafafa10;

    --color-texto:rgb(255, 255, 255);
    --color-texto-menu:rgb(255, 255, 255);

    --color-menu-hover:rgba(230, 223, 223, 0.384);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

.dark-mode{
    --color-barra-lateral:#fafafa10;

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(255, 255, 255);

    --color-menu-hover:#fafafa10;
    --color-menu-hover-texto:rgb(0, 0, 0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);

    /*--------------body----------*/
.animated-background-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/modooscuro.jpg); /* Reemplaza con la URL de tu imagen animada */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animateBackgroundFull 10s linear infinite; /* Ajusta la duración de la animación según tus preferencias */
    z-index: -1; /* Coloca el fondo detrás del contenido */
    
}

@keyframes animateBackgroundFull {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Nunito', sans-serif;
}
body{
    
    height: 100%;
    width: 100%;
    
}


/*-----------------Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    margin: 15px 0px 0px 0px;
    z-index: 100;
}


/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    border: 3px solid #fafafa10;
    border-radius: 1rem;
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}


/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}


/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{

    width: 50px;
    font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}


/*-------------main----------------*/

#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
    .container{
        padding-left: 145px;
        transition: padding-left 0.9s ease;
    }
}



/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
    
}

/*--------------body----------*/
.animated-background-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/imangenHome2.jpg); /* Reemplaza con la URL de tu imagen animada */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animateBackgroundFull 10s linear infinite; /* Ajusta la duración de la animación según tus preferencias */
    z-index: -1; /* Coloca el fondo detrás del contenido */
    
}

@keyframes animateBackgroundFull {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/*-------------textos y cuerpo de la pagina----------------*/


.hero{
    
    min-height: 100vh;
    display: flex;
    align-items: center;

}


.titulo {
        width: 100%;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: bold;

        color: transparent; /* Hace que el texto sea transparente */
        background: linear-gradient(90deg, rgb(255, 252, 252) 20%, rgb(255, 255, 255) 84%);
    
                -webkit-background-clip: text; 
    background-clip: text;
       
}


















      
/*-------------textos y cuerpo de la pagina informacion ----------------*/

/* titulo */
.herot2{
    
    min-height: 20vh;
    display: flex;
    align-items: center;

}


.titulot2{
        width: 100%;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: bold;

        color: transparent; /* Hace que el texto sea transparente */
        /* #d91d04, #04b9d9 */
        background-image: linear-gradient(45deg, #790892, #ffffff);
    
                -webkit-background-clip: text; 
    background-clip: text;
       
}


/* subtitulos */
.heroinf{
    
    min-height: 0vh;
    display: flex;
    align-items: center;

}


.tituloinf{
        width: 100%;
        color: black;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;

        color: transparent; /* Hace que el texto sea transparente */
        background-image: linear-gradient(45deg, #790892, #ffffff); 
    
                -webkit-background-clip: text; 
    background-clip: text;
       
}

.stitulos{
    margin: 50px 0pc 0px 0px;
}

/* seccion cartas */




/* cartas no tocar prros >( */

.container{
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
      } 



.container .card{
    position: relative;
  } 
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container .card .face.face1{
    position: relative;
    /* 390046 */
    background: #1f0825;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px rgb(6, 100, 158),
      inset 20px 0 80px rgb(113, 2, 135),
      inset -20px 0 80px rgb(8, 25, 134),
      inset 20px 0 300px rgb(115, 8, 134),
      inset -20px 0 300px rgb(1, 5, 135),
      0 0 50px #0423af,
      -10px 0 80px rgb(113, 2, 135),
      10px 0 80px rgb(8, 25, 134);
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
    
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(4, 51, 72, 0.8);
    transform: translateY(-100px);
  }
  
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

  .imagen1{
    width: 80px;
  }